{% extends 'base.html.twig' %}

{% block title %}Список ветеранов{% endblock %}

{% block body %}
    <h1>Список ветеранов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Адрес</th>
                <th>Домашний телефон</th>
                <th>Мобильный телефон</th>
                <th>Email</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
        {% for veteran in veterans %}
            <tr>
                <td>{{ veteran.id }}</td>
                <td>{{ veteran.firstName }}</td>
                <td>{{ veteran.surname }}</td>
                <td>{{ veteran.patronymic }}</td>
                <td>{{ veteran.dateOfBirth ? veteran.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ veteran.address }}</td>
                <td>{{ veteran.phoneHome }}</td>
                <td>{{ veteran.phoneMobile }}</td>
                <td>{{ veteran.emailAddress }}</td>
                <td>
                    <a href="{{ path('veteran_show', {'id': veteran.id}) }}">show</a>
                    <a href="{{ path('veteran_edit', {'id': veteran.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('veteran_new') }}">Добавить ветерана</a>
{% endblock %}
