{% extends 'base.html.twig' %}

{% block title %}Veteran{% endblock %}

{% block body %}
    <h1>Veteran</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ veteran.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ veteran.firstName }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ veteran.surname }}</td>
            </tr>
            <tr>
                <th>Patronymic</th>
                <td>{{ veteran.patronymic }}</td>
            </tr>
            <tr>
                <th>Date_of_birth</th>
                <td>{{ veteran.dateOfBirth ? veteran.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ veteran.address }}</td>
            </tr>
            <tr>
                <th>Phone_home</th>
                <td>{{ veteran.phoneHome }}</td>
            </tr>
            <tr>
                <th>Phone_mobile</th>
                <td>{{ veteran.phoneMobile }}</td>
            </tr>
            <tr>
                <th>Email_address</th>
                <td>{{ veteran.emailAddress }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('veteran_index') }}">back to list</a>

    <a href="{{ path('veteran_edit', {'id': veteran.id}) }}">edit</a>

    {{ include('veteran/_delete_form.html.twig') }}
{% endblock %}
